@import './layout/content.css';
@import './layout/header.css';
@import './layout/navbar.css';
@import './baseic/icon.css';
@import './baseic/combobox.css';
@import './dictionary/deviceManagement.css';
@import './baseic/input.css';
@import './baseic/button.css';
@import './baseic/table.css';
body {
    font-family: MISA-Regular, MISA-Bold, MISA-Italic;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

@font-face {
    font-family: 'MISA-Regular';
    src: url('../assets/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MISA-Bold';
    src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MISA-Italic';
    src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
}